.deps/
.libs/
Makefile
*~
Makefile.in
Makefile
aclocal.m4
autom4te.cache/
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
ksim
*.la
*.lo
*.o
libtool
ltmain.sh
missing
test/cs-runner
*.aub
test-avx-builder
*.log
*.trs
test-driver
test-suite.log
